<p id="notice"><%= notice %></p>

<h1>Movies List</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saved_titles.each do |saved_title| %>
      <tr>
        <td><%= image_tag(saved_title.image_url, size: "250x250") %></td>
        <td><%= saved_title.title %></td>
        <td><%= saved_title.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', root_path %>
