<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @saved_title.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @saved_title.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @saved_title.image_url %>
</p>

<%= link_to "Movies List", saved_titles_path %>
